<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="style.css" />
</head>
<body>
	<div class='header' th:insert="header.html :: header"></div>
	<em th:replace="pdf-general.html :: greetings(${first_name}, ${last_name}, ${email})"></em>
	<br />
	<p th:utext="#{pdf.contract.signed.content(${contract_id}, ${contract_type_name}, ${contract_topic}, __${#dates.format(#dates.createNow(),'dd-MM-YYYY')}__)}"></p>
	<br />
	<p><span th:replace="pdf-general.html :: note"></span></p>
	<p>
		<span th:replace="pdf-general.html :: regards"></span><br />
		<em th:replace="pdf-general.html :: signature"></em>
	</p>
	<br />
	<div class='footer' th:insert="footer.html :: footer"></div>
</body>
</html>

