body {
    font-size: 14px;
    line-height: 1.4;
    font-family: Verdana;
}

@page {

    margin-top: 3.5cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 5cm;

    size: A4 portrait;
}

div.header {
    position: running(header);
}

div.footer {
    position: running(footer);
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}

.logo-container {
    text-align: right;
}

.page-count {
    text-align: right;
    font-size: 10px;
}

.logo {
    width: 275px;
}

h1 {
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 40px;
}

p {
    font-size: 12px;
}

.header {
	text-align: center;
	position: fixed;
	top: 0;
}

.footer {
    text-align: center;
    position: fixed;
	bottom: 0;
}

@font-face {
    font-family: Verdana;
    src: url(fonts/verdana.ttf) format('truetype');
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.bottom {
    vertical-align: bottom;
}

table {
    width: 100%;
}

hr {
    background-color: #01588e;
    border: solid #01588e 0.1px;
    height: 0.1px;
}

.page-break {
    page-break-after: always;
}

.next-page {
    page-break-before: always
}

img {
	max-width: 100%;
	height: auto;
}