body {
    font-size: 14px;
    line-height: 1.4;
    font-family: Verdana;
    text-align: justify;
    text-justify: inter-word;
}

@page {

    margin-top: 3.5cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 5cm;

    size: A4 portrait;
}

div.header {
    position: running(header);
}

div.footer {
    position: running(footer);
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}

.logo-container {
    text-align: right;
}

.page-count {
    text-align: right;
    font-size: 10px;
}

p {
    font-size: 12px;
}

.header {
  margin: auto
  top: 0;
    width: 210mm;
    height: 3.5cm;
    text-align: center;
    padding-bottom: 2cm;
}

.footer {
    margin: auto;
    position: fixed;
    bottom: 0;
    width: 210mm;
    height: 5cm;
    text-align: center;
}

.header img {
  width: auto;
  height:100%;          
}

.footer img {
  width: auto;
  height:100%;          
}

@font-face {
    font-family: Verdana;
    src: url(fonts/verdana.ttf) format('truetype');
}


table {
    width: 100%;
}

hr {
    background-color: #01588e;
    border: solid #01588e 0.1px;
    height: 0.1px;
}

.page-break {
    page-break-after: always;
}

.next-page {
    page-break-before: always
}