<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <em th:replace="email-general.html :: greetings_noname"></em> <br/>
    <p><span th:utext="#{email.service.limits.content1(${service_group})}"></span></p>
    <p><span th:utext="#{email.service.limits.content2(${service_name})}"></span></p>
    <p><span th:utext="#{email.service.limits.content3}"></span></p>
    <ul>
      <li th:each="entry : ${resources}" th:text="${entry.containsKey('limit') AND entry.containsKey('limit_percent') AND NOT #strings.isEmpty(entry.get('limit')) AND NOT #strings.isEmpty(entry.get('limit_percent'))} ? #{email.service.limits.usage1(${entry.description}, ${entry.unit}, ${entry.total_value}, ${entry.limit}, ${entry.limit_percent})} : #{email.service.limits.usage2(${entry.description}, ${entry.unit}, ${entry.total_value})}"></li>
    </ul>
    <p><span th:utext="#{email.service.limits.content4(${date_from}, ${date_to})}"></span></p>
    <ul>
      <li th:each="entry : ${resources}" th:text="${entry.containsKey('period.limit') AND entry.containsKey('period_limit_percent') AND NOT #strings.isEmpty(entry.get('period.limit')) AND NOT #strings.isEmpty(entry.get('period_limit_percent'))} ? #{email.service.limits.usage1(${entry.description}, ${entry.unit}, ${entry.value}, ${entry.period_limit}, ${entry.period_limit_percent})} : #{email.service.limits.usage2(${entry.description}, ${entry.unit}, ${entry.value})}"></li>
    </ul>
    <p><span th:text="${valid_to != null AND NOT #strings.isEmpty(valid_to)} ? #{email.service.limits.content5(${valid_to})} : #{email.service.limits.content6}"></span></p>
    <p><span th:utext="#{email.service.limits.content7}"></span></p>
    <p>
      <span th:replace="email-general.html :: regards"></span><br/>
      <em th:replace="email-general.html :: signature"></em>
    </p>
    <p>
      <span th:replace="email-general.html :: disclaimer"></span>
    </p>
  </body>
</html>
